Repository open-telemetry/opentelemetry-go, pull requests merged in 2020-07, with the labels that each got.

#885 Update opentracing dependency
  example/basic/go.sum
  example/grpc/go.sum
  example/http/go.sum
  example/jaeger/go.sum
  example/namedtracer/go.sum
  example/otel-collector/go.sum
  example/prometheus/go.sum
  example/zipkin/go.sum
  exporters/metric/prometheus/go.sum
  exporters/otlp/go.sum
  exporters/trace/jaeger/go.sum
  exporters/trace/zipkin/go.sum
  go.mod
  go.sum
Labels: dependencies

#915 Update otel-collector example to use collector v0.5.0
  example/otel-collector/k8s/otel-collector.yaml
Labels: area: exporter

#917 Bump CircleCI instance size
  .circleci/config.yml
Labels: area: testing

#882 Fix B3 propagator and add tests
  CHANGELOG.md
  api/trace/b3_propagator.go
  api/trace/b3_propagator_test.go
  api/trace/span_context.go
  api/trace/span_context_test.go
  api/trace/testtrace/b3_propagator_benchmark_test.go
  api/trace/testtrace/b3_propagator_data_test.go
  api/trace/testtrace/b3_propagator_test.go
  api/trace/testtrace/propagator_test.go
  api/trace/testtrace/trace_context_propagator_test.go
  api/trace/trace_context_propagator.go
Labels: area: API, area: testing, ctx-propagation

#921 Update Changelog with omitted changes
  CHANGELOG.md
Labels: documentation

#920 Fix `api/standard` constant names and documentation
  CHANGELOG.md
  api/standard/doc.go
  api/standard/resource.go
Labels: area: API

#922 Update grpctrace instrumentation span names
  CHANGELOG.md
  instrumentation/grpctrace/interceptor.go
  instrumentation/grpctrace/interceptor_test.go
Labels: area: instrumentation, bug

#919 Add semantic conventions for OS process as resource attributes
  CHANGELOG.md
  api/standard/resource.go
Labels: area: API

#956 Unify trace and metric stdout exporters
  CHANGELOG.md
  README.md
  api/global/internal/meter_test.go
  example/basic/main.go
  example/grpc/config/config.go
  example/http/client/client.go
  example/http/server/server.go
  example/namedtracer/main.go
  exporters/README.md
  exporters/metric/stdout/example_test.go
  exporters/metric/stdout/stdout.go
  exporters/stdout/config.go
  exporters/stdout/doc.go
  exporters/stdout/example_test.go
  exporters/stdout/exporter.go
  exporters/stdout/metric.go
  exporters/stdout/metric_test.go
  exporters/stdout/trace.go
  exporters/stdout/trace_test.go
  exporters/trace/stdout/stdout.go
  instrumentation/othttp/handler_example_test.go
  sdk/metric/example_test.go
Labels: pkg:exporter

#968 Remove sub-package value from kv
  CHANGELOG.md
  api/correlation/correlation_context_propagator_test.go
  api/correlation/map.go
  api/correlation/map_test.go
  api/global/internal/meter_test.go
  api/kv/key.go
  api/kv/key_test.go
  api/kv/kv.go
  api/kv/kv_test.go
  api/kv/type_string.go
  api/kv/value.go
  api/kv/value_test.go
  api/label/encoder.go
  api/label/set.go
  api/trace/testtrace/event.go
  api/trace/testtrace/span.go
  api/trace/testtrace/span_test.go
  api/trace/testtrace/tracer.go
  exporters/otlp/internal/transform/attribute.go
  exporters/trace/jaeger/env.go
  exporters/trace/jaeger/env_test.go
  exporters/trace/jaeger/jaeger.go
  instrumentation/grpctrace/interceptor_test.go
  sdk/resource/resource_test.go
  sdk/trace/span.go
  sdk/trace/trace_test.go
Labels: pkg:API

#963 Make the stdout exporter a package
  .github/dependabot.yml
  api/global/internal/meter_test.go
  example/basic/go.mod
  example/grpc/go.mod
  example/http/go.mod
  example/namedtracer/go.mod
  exporters/stdout/go.mod
  exporters/stdout/go.sum
  instrumentation/othttp/handler_example_test.go
  sdk/metric/example_test.go
Labels: pkg:exporter

#970 Remove IndexedAttribute from api/label
  CHANGELOG.md
  api/label/iterator.go
Labels: pkg:API

#971 Update Contributing style guide section
  CONTRIBUTING.md
Labels: documentation

#977 Decouple API from SDK
  CHANGELOG.md
  api/global/internal/benchmark_test.go
  api/global/internal/meter_test.go
  api/global/internal/trace_test.go
  api/kv/benchmark_test.go
  api/kv/key_test.go
  api/trace/testtrace/config.go
  api/trace/testtrace/generator.go
  api/trace/testtrace/provider.go
  api/trace/testtrace/span.go
  api/trace/testtrace/span_test.go
  api/trace/testtrace/tracer.go
  api/trace/testtrace/tracer_test.go
  instrumentation/othttp/transport_example_test.go
  sdk/metric/benchmark_test.go
Labels: area:trace, pkg:API, pkg:testing, release:required-for-ga

#984 Move grpctrace examples from comment to code
  CHANGELOG.md
  instrumentation/grpctrace/example_interceptor_test.go
  instrumentation/grpctrace/interceptor.go
Labels: documentation, pkg:instrumentation

#983 Decouple instrumentation from SDK
  CHANGELOG.md
  instrumentation/grpctrace/interceptor_test.go
  instrumentation/httptrace/clienttrace_test.go
  instrumentation/httptrace/httptrace_test.go
Labels: pkg:instrumentation, release:required-for-ga

#979 Expose optional ResponseWriter interfaces.
  CHANGELOG.md
  example/basic/go.sum
  example/grpc/go.sum
  example/http/go.sum
  example/jaeger/go.sum
  example/namedtracer/go.sum
  example/otel-collector/go.sum
  example/prometheus/go.sum
  example/zipkin/go.sum
  exporters/metric/prometheus/go.sum
  exporters/otlp/go.sum
  exporters/stdout/go.sum
  exporters/trace/jaeger/go.sum
  exporters/trace/zipkin/go.sum
  go.mod
  go.sum
  instrumentation/othttp/handler.go
  instrumentation/othttp/handler_test.go
  sdk/go.sum
Labels: pkg:instrumentation

#996 Run go mod tidy in ./tools
  tools/go.sum
Labels: pkg:testing

#993 Update release documentation
  RELEASING.md
Labels: documentation
