Repository open-telemetry/opentelemetry-go, pull requests merged in 2020-10, with the labels that each got.

#1219 Remove duplicate hostname in Resource
  CHANGELOG.md
  semconv/resource.go
Labels: priority:p1, release:required-for-ga

#1212 Update propagation to conform with OpenTelemetry specification
  CHANGELOG.md
  api/baggage/baggage_propagator.go
  api/baggage/baggage_propagator_test.go
  api/global/internal/state.go
  api/global/propagation.go
  api/propagation/doc.go
  api/propagation/propagation.go
  bridge/opentracing/bridge.go
  example/basic/main.go
  example/otel-collector/main.go
  otel.go
  propagation.go
  propagation_test.go
  propagators/propagators.go
  propagators/propagators_test.go
  propagators/trace_context.go
  propagators/trace_context_example_test.go
  propagators/trace_context_test.go
Labels: area:propagators, pkg:API, priority:p1, release:required-for-ga

#1216 feat(span): remove SetAttribute method
  CHANGELOG.md
  api/trace/api.go
  api/trace/context_test.go
  api/trace/noop_span.go
  api/trace/tracetest/mock_span.go
  api/trace/tracetest/span.go
  bridge/opentracing/internal/mock.go
  sdk/trace/span.go
Labels: area:trace, pkg:API, priority:p1, release:required-for-ga

#1217 Add Baggage API and move Baggage propagator
  CHANGELOG.md
  api/baggage/doc.go
  api/baggage/map.go
  baggage.go
  baggage_test.go
  bridge/opentracing/bridge.go
  bridge/opentracing/internal/mock.go
  bridge/opentracing/mix_test.go
  example/basic/main.go
  example/namedtracer/main.go
  internal/baggage/baggage.go
  internal/baggage/baggage_test.go
  propagators/baggage.go
  propagators/baggage_test.go
  propagators/doc.go
Labels: pkg:API, priority:p1, release:required-for-ga

#1214 Update codes to match specification
  CHANGELOG.md
  api/apitest/harness.go
  api/trace/tracetest/span.go
  api/trace/tracetest/span_test.go
  bridge/opentracing/bridge.go
  bridge/opentracing/internal/mock.go
  codes/codes.go
  codes/codes_test.go
  example/basic/go.sum
  example/jaeger/go.sum
  example/namedtracer/go.sum
  example/prometheus/go.sum
  example/zipkin/go.sum
  exporters/metric/prometheus/go.sum
  exporters/otlp/internal/transform/span.go
  exporters/otlp/internal/transform/span_test.go
  exporters/otlp/otlp_span_test.go
  exporters/stdout/go.mod
  exporters/stdout/go.sum
  exporters/stdout/trace_test.go
  exporters/trace/jaeger/go.mod
  exporters/trace/jaeger/go.sum
  exporters/trace/jaeger/jaeger.go
  exporters/trace/jaeger/jaeger_test.go
  exporters/trace/zipkin/go.mod
  exporters/trace/zipkin/go.sum
  exporters/trace/zipkin/model_test.go
  exporters/trace/zipkin/zipkin_test.go
  sdk/export/trace/trace.go
  sdk/go.mod
  sdk/go.sum
  sdk/internal/codes.go
  sdk/trace/span.go
  sdk/trace/trace_test.go
  semconv/http.go
  semconv/http_test.go
Labels: area:trace, pkg:API, priority:p1, release:required-for-ga

#1226 Update label.ArrayValue to store copies of 1D arrays
  CHANGELOG.md
  exporters/otlp/internal/transform/attribute.go
  exporters/otlp/internal/transform/attribute_test.go
  label/value.go
  label/value_test.go
Labels: bug, pkg:API, priority:p1, release:required-for-ga

#1233 Call sampler on local child spans.
  CHANGELOG.md
  sdk/trace/span.go
  sdk/trace/trace_test.go
Labels: area:trace, pkg:SDK, priority:p2, release:required-for-ga

#1234 Move AsyncInstrumentState helper into internal/metric
  api/metric/metrictest/meter.go
  internal/metric/async.go
  sdk/metric/sdk.go
Labels: Skip Changelog

#1242 Update documentation for the OTLP exporter
  exporters/otlp/doc.go
  exporters/otlp/options.go
  exporters/otlp/otlp.go
Labels: Skip Changelog, documentation, priority:p3, release:required-for-ga

#1244 Fix lint issues in the label package
  CHANGELOG.md
  label/iterator.go
  label/set.go
  label/value.go
Labels: documentation, pkg:API, priority:p1, release:required-for-ga

#1243 Fix lint issues in otel package
  CHANGELOG.md
  otel.go
  trace.go
Labels: documentation, pkg:API, priority:p1, release:required-for-ga

#1241 Move `api/apitest` into the `otel/oteltest` package
  CHANGELOG.md
  api/apitest/doc.go
  oteltest/harness.go
  oteltest/tracer_test.go
  sdk/trace/trace_test.go
Labels: area:trace, pkg:testing, priority:p1, release:required-for-ga

#1240 Rename Kind from the `api/metric` package
  CHANGELOG.md
  api/metric/api_test.go
  api/metric/descriptor.go
  api/metric/instrumentkind.go
  api/metric/instrumentkind_string.go
  api/metric/instrumentkind_test.go
  api/metric/kind.go
  api/metric/kind_string.go
  api/metric/meter.go
  api/metric/registry/registry.go
  exporters/otlp/internal/transform/metric_test.go
  exporters/otlp/otlp_integration_test.go
  exporters/otlp/otlp_metric_test.go
  exporters/stdout/metric_test.go
  sdk/export/metric/exportkind_test.go
  sdk/export/metric/metric.go
  sdk/metric/aggregator/aggregator.go
  sdk/metric/aggregator/aggregator_test.go
  sdk/metric/aggregator/aggregatortest/test.go
  sdk/metric/aggregator/array/array_test.go
  sdk/metric/aggregator/ddsketch/ddsketch_test.go
  sdk/metric/aggregator/histogram/benchmark_test.go
  sdk/metric/aggregator/histogram/histogram_test.go
  sdk/metric/aggregator/lastvalue/lastvalue_test.go
  sdk/metric/aggregator/minmaxsumcount/mmsc_test.go
  sdk/metric/aggregator/sum/sum_test.go
  sdk/metric/histogram_stress_test.go
  sdk/metric/minmaxsumcount_stress_test.go
  sdk/metric/processor/basic/basic.go
  sdk/metric/processor/basic/basic_test.go
  sdk/metric/selector/simple/simple.go
  sdk/metric/selector/simple/simple_test.go
  sdk/metric/stress_test.go
Labels: area:metrics, pkg:API, priority:p1, release:required-for-ga

#1249 Update semconv comments
  semconv/resource.go
  semconv/trace.go
Labels: Skip Changelog, documentation

#1253 Update README with Org GA project board
  README.md
Labels: Skip Changelog, documentation

#1259 Add oteltest TextMap propagator and carrier
  CHANGELOG.md
  oteltest/text_map_propagator.go
  oteltest/text_map_propagator_test.go
Labels: area:propagators, pkg:testing, priority:p2, release:required-for-ga

#1258 Add delegating global propagator
  CHANGELOG.md
  api/global/internal/propagator.go
  api/global/internal/state.go
Labels: area:propagators, bug, pkg:API, priority:p2, release:required-for-ga

#1254 Update Span API event methods
  CHANGELOG.md
  bridge/opentracing/bridge.go
  bridge/opentracing/internal/mock.go
  config.go
  example/basic/main.go
  example/namedtracer/foo/foo.go
  example/namedtracer/main.go
  oteltest/event.go
  oteltest/harness.go
  oteltest/mock_span.go
  oteltest/span.go
  oteltest/span_test.go
  sdk/trace/span.go
  sdk/trace/trace_test.go
  trace.go
  trace_noop.go
Labels: area:trace, pkg:API, priority:p1, release:required-for-ga

#1261 Update the internal global TextMapPropagator
  api/global/internal/propagator.go
Labels: Skip Changelog, area:propagators, pkg:API, priority:p2, release:required-for-ga

#1260 Add global propagator testing and other fixes
  api/global/internal/propagator_test.go
  api/global/internal/state.go
  api/global/internal/state_test.go
  oteltest/text_map_propagator.go
Labels: Skip Changelog, pkg:API, pkg:testing, priority:p2, release:required-for-ga

#1262 Move the otel/api/global package to otel/global
  CHANGELOG.md
  bridge/opentracing/bridge.go
  bridge/opentracing/mix_test.go
  doc.go
  example/basic/main.go
  example/jaeger/main.go
  example/namedtracer/foo/foo.go
  example/namedtracer/main.go
  example/otel-collector/main.go
  example/prometheus/main.go
  example/zipkin/main.go
  exporters/metric/prometheus/prometheus.go
  exporters/otlp/example_test.go
  exporters/stdout/example_test.go
  exporters/stdout/exporter.go
  exporters/trace/jaeger/env.go
  exporters/trace/jaeger/jaeger.go
  exporters/trace/jaeger/jaeger_test.go
  exporters/trace/zipkin/zipkin.go
  exporters/trace/zipkin/zipkin_test.go
  global/doc.go
  global/handler.go
  global/handler_test.go
  global/internal/benchmark_test.go
  global/internal/internal_test.go
  global/internal/meter.go
  global/internal/meter_test.go
  global/internal/propagator.go
  global/internal/propagator_test.go
  global/internal/registry_test.go
  global/internal/state.go
  global/internal/state_test.go
  global/internal/trace.go
  global/internal/trace_test.go
  global/metric.go
  global/metric_test.go
  global/propagation.go
  global/trace.go
  global/trace_test.go
  internal/metric/async.go
  propagators/trace_context_example_test.go
  sdk/metric/benchmark_test.go
  sdk/metric/controller/push/push.go
  sdk/metric/controller/push/push_test.go
  sdk/metric/correct_test.go
  sdk/metric/sdk.go
  sdk/trace/batch_span_processor.go
  sdk/trace/simple_span_processor.go
  sdk/trace/span.go
  sdk/trace/trace_test.go
Labels: pkg:API, priority:p1, release:required-for-ga

#1255 Add SpanContextFromContext()
  CHANGELOG.md
  bridge/opentracing/mix_test.go
  internal/trace/parent/parent.go
  oteltest/config.go
  oteltest/tracer.go
  propagators/trace_context.go
  trace.go
  trace_test.go
Labels: area:trace, pkg:API, priority:p1, release:required-for-ga

#1227 Add a Shutdown method to sdk TraceProvider
  CHANGELOG.md
  example/basic/main.go
  example/namedtracer/main.go
  example/otel-collector/main.go
  exporters/otlp/otlp_integration_test.go
  sdk/trace/provider.go
  sdk/trace/provider_test.go
Labels: area:trace, enhancement, pkg:API, pkg:SDK, priority:p2, release:required-for-ga

#1278 Fix typo in example
  doc.go
Labels: Skip Changelog

#1264 Update SpanProcessor Shutdown with context and error
  CHANGELOG.md
  example/otel-collector/main.go
  sdk/trace/batch_span_processor.go
  sdk/trace/batch_span_processor_test.go
  sdk/trace/provider.go
  sdk/trace/provider_test.go
  sdk/trace/simple_span_processor.go
  sdk/trace/simple_span_processor_test.go
  sdk/trace/span_processor.go
  sdk/trace/span_processor_example_test.go
  sdk/trace/span_processor_test.go
Labels: area:trace, pkg:SDK, priority:p1, release:required-for-ga

#1282 Minor readability fixes to the Jeager example
  example/jaeger/main.go
Labels: Skip Changelog, pkg:example

#1281 Update README and documentation to better communicate pre-GA state
  README.md
  codes/codes.go
  doc.go
  exporters/otlp/doc.go
  exporters/stdout/doc.go
  exporters/trace/jaeger/doc.go
  exporters/trace/zipkin/doc.go
  global/doc.go
  label/doc.go
  oteltest/doc.go
  propagators/doc.go
  sdk/instrumentation/library.go
  sdk/metric/doc.go
  sdk/metric/processor/reducer/doc.go
  sdk/opentelemetry.go
  sdk/resource/doc.go
  sdk/trace/doc.go
  semconv/doc.go
  unit/doc.go
Labels: Skip Changelog, documentation

#1235 Change resource.New() to use functional options; add builtin attributes for (host.*, telemetry.sdk.*)
  CHANGELOG.md
  example/otel-collector/main.go
  exporters/metric/prometheus/example_test.go
  exporters/metric/prometheus/prometheus_test.go
  exporters/otlp/internal/transform/metric_test.go
  exporters/otlp/internal/transform/resource_test.go
  exporters/otlp/internal/transform/span_test.go
  exporters/otlp/otlp_integration_test.go
  exporters/otlp/otlp_metric_test.go
  exporters/otlp/otlp_span_test.go
  exporters/stdout/metric_test.go
  exporters/stdout/trace_test.go
  exporters/trace/jaeger/jaeger_test.go
  sdk/metric/benchmark_test.go
  sdk/metric/config.go
  sdk/metric/controller/pull/pull.go
  sdk/metric/controller/push/config_test.go
  sdk/metric/controller/push/push.go
  sdk/metric/controller/push/push_test.go
  sdk/metric/correct_test.go
  sdk/metric/processor/basic/basic_test.go
  sdk/metric/processor/processortest/test_test.go
  sdk/metric/processor/reducer/reducer_test.go
  sdk/metric/sdk.go
  sdk/metric/stress_test.go
  sdk/resource/auto.go
  sdk/resource/benchmark_test.go
  sdk/resource/builtin.go
  sdk/resource/builtin_test.go
  sdk/resource/config.go
  sdk/resource/config_test.go
  sdk/resource/env.go
  sdk/resource/env_test.go
  sdk/resource/resource.go
  sdk/resource/resource_test.go
  sdk/trace/trace_test.go
Labels: area:metrics, area:trace
