Repository open-telemetry/opentelemetry-go, pull requests merged in 2020-01, with the labels that each got.

#406 Global trace forwarding implementation
  api/global/internal/benchmark_test.go
  api/global/internal/state.go
  api/global/internal/trace.go
  api/global/internal/trace_test.go
Labels: sdk, trace

#428 use stateful batcher on prometheus exporter
  exporter/metric/prometheus/prometheus.go
Labels: exporters, metrics

#433 Adds Histogram Aggregator
  sdk/export/metric/aggregator/aggregator.go
  sdk/metric/aggregator/histogram/histogram.go
  sdk/metric/aggregator/histogram/histogram_test.go
Labels: metrics, sdk
