Repository open-telemetry/opentelemetry-go, pull requests merged in 2022-07, with the labels that each got.

#2986 fix typo
  baggage/baggage.go
Labels: Skip Changelog

#2863 Add a release template
  .github/ISSUE_TEMPLATE/version_release.md
  .lycheeignore
Labels: Skip Changelog

#2997 Add workflow to automate bundling dependabot PRs
  .github/workflows/create-dependabot-pr.yml
  .github/workflows/scripts/dependabot-pr.sh
Labels: Skip Changelog

#2961 Add structure to the export data.
  sdk/metric/config_test.go
  sdk/metric/export/data.go
  sdk/metric/export/temporality.go
  sdk/metric/exporter.go
  sdk/metric/manual_reader.go
  sdk/metric/periodic_reader.go
  sdk/metric/periodic_reader_test.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics

#2655 Add benchmark metric test for UpDownCounter
  sdk/metric/benchmark_test.go
Labels: Skip Changelog

#3007 Use export.Aggregation instead of internal.Aggregation
  sdk/metric/internal/aggregation.go
  sdk/metric/internal/aggregator.go
  sdk/metric/internal/aggregator_example_test.go
  sdk/metric/internal/histogram.go
  sdk/metric/internal/lastvalue.go
  sdk/metric/internal/sum.go
Labels: pkg:SDK, area:metrics

#3012 Use attribute Sets instead of KeyValues for export data
  sdk/metric/export/data.go
Labels: pkg:SDK, area:metrics

#3016 Change Instrument Library to Instrument Scope
  sdk/metric/meter.go
  sdk/metric/meter_test.go
  sdk/metric/provider.go
  sdk/metric/view/instrument.go
  sdk/metric/view/view.go
  sdk/metric/view/view_test.go
Labels: pkg:SDK, area:metrics

#3017 move temporality to export/temporality
  sdk/metric/config_test.go
  sdk/metric/manual_reader.go
  sdk/metric/manual_reader_test.go
  sdk/metric/periodic_reader.go
  sdk/metric/periodic_reader_test.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
  sdk/metric/temporality.go
Labels: pkg:SDK, area:metrics

#3014 Rename Package sdk/metric/export into sdk/metric/metricdata
  sdk/metric/config_test.go
  sdk/metric/exporter.go
  sdk/metric/internal/aggregator.go
  sdk/metric/internal/aggregator_example_test.go
  sdk/metric/internal/histogram.go
  sdk/metric/internal/lastvalue.go
  sdk/metric/internal/sum.go
  sdk/metric/manual_reader.go
  sdk/metric/manual_reader_test.go
  sdk/metric/metricdata/data.go
  sdk/metric/metricdata/temporality.go
  sdk/metric/periodic_reader.go
  sdk/metric/periodic_reader_test.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics

#3025 Add metricdatatest package
  sdk/metric/metricdata/metricdatatest/assertion.go
  sdk/metric/metricdata/metricdatatest/assertion_fail_test.go
  sdk/metric/metricdata/metricdatatest/assertion_test.go
  sdk/metric/metricdata/metricdatatest/comparisons.go
Labels: pkg:SDK, area:metrics

#3026 Adds a pipeline for creating reader's output
  sdk/metric/pipeline.go
  sdk/metric/pipeline_test.go
  sdk/metric/provider.go
  sdk/metric/provider_test.go
Labels: pkg:SDK, area:metrics

#3036 Use generic Sum, Gauge, and DataPoint value removing Value, Int64, and Float64 from metricdata
  sdk/metric/metricdata/data.go
  sdk/metric/metricdata/metricdatatest/assertion.go
  sdk/metric/metricdata/metricdatatest/assertion_fail_test.go
  sdk/metric/metricdata/metricdatatest/assertion_test.go
  sdk/metric/metricdata/metricdatatest/comparisons.go
  sdk/metric/pipeline_test.go
Labels: pkg:SDK, area:metrics

#3037 Add MatchInstrumentKind filter for Views.
  sdk/metric/config_test.go
  sdk/metric/manual_reader.go
  sdk/metric/manual_reader_test.go
  sdk/metric/periodic_reader.go
  sdk/metric/periodic_reader_test.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
  sdk/metric/view/instrument.go
  sdk/metric/view/instrumentkind.go
  sdk/metric/view/view.go
Labels: pkg:SDK, area:metrics

#3039 Change View Attribute Filter to detect if not set.
  sdk/metric/view/view.go
  sdk/metric/view/view_test.go
Labels: pkg:SDK, area:metrics

#3008 Add implementation of last-value aggregator
  sdk/metric/internal/aggregator_test.go
  sdk/metric/internal/lastvalue.go
  sdk/metric/internal/lastvalue_test.go
Labels: pkg:SDK, area:metrics

#3043 `sdk/metric/view.View.New(...` miss `instrumentKind` check
  sdk/metric/view/view.go
  sdk/metric/view/view_test.go
Labels: bug, pkg:SDK, area:metrics
