Repository open-telemetry/opentelemetry-go, pull requests merged in 2022-06, with the labels that each got.

#2935 docs: fix typo
  website_docs/manual.md
Labels: documentation, Skip Changelog

#2939 Add timeout to grpc connection in otel-collector example
  example/otel-collector/main.go
Labels: Skip Changelog

#2926 Add view to metrics.
  sdk/metric/config.go
  sdk/metric/provider.go
  sdk/metric/view/instrument.go
  sdk/metric/view/view.go
  sdk/metric/view/view_test.go
Labels: pkg:SDK, area:metrics

#2945 Implement MeterProvider's Meter method
  sdk/metric/meter.go
  sdk/metric/meter_test.go
  sdk/metric/provider.go
  sdk/metric/provider_test.go
Labels: pkg:SDK, area:metrics

#2948 Initialize MeterProvider readers field for new
  sdk/metric/provider.go
Labels: pkg:SDK, area:metrics

#2952 Add needed import to getting started doc
  website_docs/getting-started.md
Labels: documentation, Skip Changelog

#2949 Introduce Temporality, WithTemporality Reader options and InstrumentKind
  sdk/metric/config_test.go
  sdk/metric/instrumentkind.go
  sdk/metric/manual_reader.go
  sdk/metric/manual_reader_test.go
  sdk/metric/periodic_reader.go
  sdk/metric/periodic_reader_test.go
  sdk/metric/reader.go
  sdk/metric/temporality.go
Labels: pkg:SDK, area:metrics

#2955 Fix data-model link
  sdk/metric/aggregator/exponential/README.md
Labels: Skip Changelog

#2958 Add aggregation package and reader/view options
  sdk/metric/aggregation/aggregation.go
  sdk/metric/aggregation/aggregation_test.go
  sdk/metric/config_test.go
  sdk/metric/manual_reader.go
  sdk/metric/periodic_reader.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
  sdk/metric/view/instrument.go
  sdk/metric/view/view.go
Labels: pkg:SDK, area:metrics

#2967 Update temporality selector option
  sdk/metric/manual_reader.go
  sdk/metric/manual_reader_test.go
  sdk/metric/periodic_reader.go
  sdk/metric/periodic_reader_test.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics

#2930 docs(website_docs): fix exporting_data.md and getting-started.md toc
  website_docs/exporting_data.md
  website_docs/getting-started.md
Labels: documentation, Skip Changelog

#2983 Minor NewMeterProvider and producer docs fix
  sdk/metric/provider.go
  sdk/metric/reader.go
Labels: documentation, pkg:SDK, area:metrics

#2984 Update getting-started.md
  website_docs/getting-started.md
Labels: documentation, Skip Changelog
