Repository open-telemetry/opentelemetry-go, pull requests merged in 2022-11, with the labels that each got.

#3403 Recommend not recording cumulative explicit histogram min/max
  sdk/metric/aggregation/aggregation.go
Labels: documentation, pkg:SDK, area:metrics, Skip Changelog

#3260 Move Aggregation/Temporality selection to the Exporter interface
  CHANGELOG.md
  exporters/otlp/otlpmetric/client.go
  exporters/otlp/otlpmetric/exporter.go
  exporters/otlp/otlpmetric/exporter_test.go
  exporters/otlp/otlpmetric/internal/oconf/options.go
  exporters/otlp/otlpmetric/internal/oconf/options_test.go
  exporters/otlp/otlpmetric/internal/otest/client_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/config.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/config.go
  exporters/stdout/stdoutmetric/config.go
  exporters/stdout/stdoutmetric/exporter.go
  exporters/stdout/stdoutmetric/exporter_test.go
  sdk/metric/exporter.go
  sdk/metric/manual_reader.go
  sdk/metric/periodic_reader.go
  sdk/metric/periodic_reader_test.go
  sdk/metric/reader.go
Labels: pkg:SDK, area:metrics

#3395 New benchmark derived from otel-launcher-go
  sdk/metric/benchmark_test.go
Labels: Skip Changelog

#3438 Do not handle empty partial OTLP successes
  CHANGELOG.md
  exporters/otlp/internal/partialsuccess.go
  exporters/otlp/internal/partialsuccess_test.go
  exporters/otlp/otlptrace/otlptracegrpc/client.go
  exporters/otlp/otlptrace/otlptracehttp/client.go
Labels: bug, area:trace, pkg:exporter:otlp

#3385 Disables context-as-argument linter
  .golangci.yml
  internal/tools/go.mod
  internal/tools/go.sum
Labels: Skip Changelog

#3441 docs(metric): document public interfaces with versioning policy
  metric/instrument/asyncfloat64/asyncfloat64.go
  metric/instrument/asyncint64/asyncint64.go
  metric/instrument/syncfloat64/syncfloat64.go
  metric/instrument/syncint64/syncint64.go
  metric/meter.go
Labels: pkg:API, area:metrics, Skip Changelog

#3396 Adds attribute filter logic
  CHANGELOG.md
  sdk/metric/meter_test.go
  sdk/metric/pipeline.go
Labels: pkg:SDK, area:metrics

#3440 Handle partial success response from OTLP server in otlpmetric exporters
  CHANGELOG.md
  exporters/otlp/otlpmetric/internal/otest/client.go
  exporters/otlp/otlpmetric/internal/otest/client_test.go
  exporters/otlp/otlpmetric/internal/otest/collector.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client_test.go
Labels: area:metrics, pkg:exporter:otlp

#3458 Typo in doc
  website_docs/manual.md
Labels: documentation, Skip Changelog

#3256 Restructure instrument creation code paths
  sdk/metric/instrument_provider.go
  sdk/metric/meter.go
  sdk/metric/meter_test.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
  sdk/metric/pipeline_test.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#3436 Do not export aggregations without any data points
  CHANGELOG.md
  sdk/metric/internal/histogram.go
  sdk/metric/internal/histogram_test.go
  sdk/metric/internal/lastvalue.go
  sdk/metric/internal/lastvalue_test.go
  sdk/metric/internal/sum.go
  sdk/metric/internal/sum_test.go
  sdk/metric/pipeline_test.go
Labels: pkg:SDK, area:metrics

#3408 Only registers callbacks if non-drop aggregation is used
  CHANGELOG.md
  sdk/metric/instrument_provider.go
  sdk/metric/meter.go
  sdk/metric/meter_test.go
  sdk/metric/pipeline.go
Labels: pkg:SDK, area:metrics

#3470 Fix doc comment typo
  trace/doc.go
Labels: documentation, Skip Changelog

#3461 Replace view use from sdk/metric/view to sdk/metric
  example/view/main.go
  exporters/otlp/otlpmetric/client.go
  exporters/otlp/otlpmetric/exporter.go
  exporters/otlp/otlpmetric/exporter_test.go
  exporters/otlp/otlpmetric/internal/oconf/options.go
  exporters/otlp/otlpmetric/internal/oconf/options_test.go
  exporters/otlp/otlpmetric/internal/otest/client_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  exporters/prometheus/config_test.go
  exporters/prometheus/exporter_test.go
  exporters/stdout/stdoutmetric/config.go
  exporters/stdout/stdoutmetric/exporter.go
  exporters/stdout/stdoutmetric/exporter_test.go
  sdk/metric/benchmark_test.go
  sdk/metric/config.go
  sdk/metric/config_test.go
  sdk/metric/doc.go
  sdk/metric/exporter.go
  sdk/metric/instrument_provider.go
  sdk/metric/internal/filter.go
  sdk/metric/internal/filter_test.go
  sdk/metric/manual_reader.go
  sdk/metric/manual_reader_test.go
  sdk/metric/meter.go
  sdk/metric/meter_test.go
  sdk/metric/periodic_reader.go
  sdk/metric/periodic_reader_test.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
  sdk/metric/pipeline_test.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#3476 Deprecate the sdk/metric/view package
  CHANGELOG.md
  sdk/metric/view/doc.go
  sdk/metric/view/instrument.go
  sdk/metric/view/instrumentkind.go
  sdk/metric/view/view.go
Labels: pkg:SDK, area:metrics

#3486 Move otlpmetrics `Client` to an internal package.
  CHANGELOG.md
  exporters/otlp/otlpmetric/internal/client.go
  exporters/otlp/otlpmetric/internal/exporter.go
  exporters/otlp/otlpmetric/internal/exporter_test.go
  exporters/otlp/otlpmetric/internal/otest/client.go
  exporters/otlp/otlpmetric/internal/otest/client_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client_test.go
Labels: area:metrics, pkg:exporter:otlp

#3485 Update the usage of set-output command in GH actions
  .github/workflows/markdown-fail-fast.yml
Labels: Skip Changelog

#3489 Make the AsType functions not panic
  CHANGELOG.md
  attribute/kv_test.go
  attribute/value.go
Labels: bug

#3492 Clarify HTTP/gRPC exporter examples
  example/otel-collector/main.go
  exporters/otlp/otlptrace/README.md
Labels: documentation, Skip Changelog

#3498 Redefine gauge in Prometheus example to be a Gauge
  example/prometheus/main.go
Labels: Skip Changelog, pkg:exporter:prometheus
