Repository open-telemetry/opentelemetry-go, pull requests merged in 2022-09, with the labels that each got.

#3124 Add Synchronous instruments
  sdk/metric/instrument.go
  sdk/metric/instrument_provider.go
  sdk/metric/meter.go
  sdk/metric/meter_test.go
Labels: pkg:SDK, area:metrics

#3132 Add WithScopeAttributes MeterOption to metric API package
  CHANGELOG.md
  metric/config.go
  metric/config_test.go
  metric/meter.go
Labels: pkg:API, area:metrics

#3137 Changed signal names for website docs
  website_docs/_index.md
Labels: documentation, Skip Changelog

#3091 Shut down all processors even on error
  sdk/trace/provider.go
  sdk/trace/provider_test.go
Labels: Skip Changelog

#3094 Add back the otlpmetricgrpc exporter
  .github/dependabot.yml
  exporters/otlp/otlpmetric/otlpmetricgrpc/client.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/config.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/doc.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/example_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/go.mod
  exporters/otlp/otlpmetric/otlpmetricgrpc/go.sum
Labels: area:metrics, pkg:exporter:otlp

#3142 Add README to the exporter package
  exporters/README.md
Labels: documentation, Skip Changelog

#3139 Add sdk/metric Go pkg docs and example
  sdk/metric/doc.go
  sdk/metric/example_test.go
Labels: documentation, pkg:SDK, area:metrics

#3148 Remove empty metrictest pkg
  sdk/metric/metrictest/doc.go
Labels: pkg:SDK, area:metrics

#3146 Move partialsuccess code to internal package
  exporters/otlp/internal/partialsuccess.go
  exporters/otlp/internal/partialsuccess_test.go
  exporters/otlp/otlptrace/otlptracegrpc/client.go
  exporters/otlp/otlptrace/otlptracehttp/client.go
Labels: Skip Changelog, pkg:exporter:otlp

#3125 Add exporters/otlp/otlpmetric/internal/otest
  exporters/otlp/otlpmetric/go.mod
  exporters/otlp/otlpmetric/go.sum
  exporters/otlp/otlpmetric/internal/otest/client.go
  exporters/otlp/otlpmetric/internal/otest/client_test.go
  exporters/otlp/otlpmetric/internal/otest/collector.go
Labels: area:metrics, pkg:exporter:otlp

#3097 Add back the otlpmetrichttp exporter
  .github/dependabot.yml
  exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/config.go
  exporters/otlp/otlpmetric/otlpmetrichttp/doc.go
  exporters/otlp/otlpmetric/otlpmetrichttp/example_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/go.mod
  exporters/otlp/otlpmetric/otlpmetrichttp/go.sum
Labels: area:metrics, pkg:exporter:otlp

#3149 Remove stale TODO in sdk/view
  sdk/metric/view/view.go
Labels: documentation, pkg:SDK, area:metrics

#3151 Use unique metric testing data in reader_test
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics

#3150 Add new metric SDK changes to changelog
  CHANGELOG.md
Labels: documentation, pkg:SDK, area:metrics

#3126 Add integration and config testing to otlpmetricgrpc
  exporters/otlp/otlpmetric/internal/otest/collector.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/go.mod
  exporters/otlp/otlpmetric/otlpmetricgrpc/go.sum
Labels: area:metrics, pkg:exporter:otlp

#3155 Add integration and config testing to otlpmetrichttp
  exporters/otlp/otlpmetric/internal/otest/client.go
  exporters/otlp/otlpmetric/internal/otest/collector.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/go.mod
  exporters/otlp/otlpmetric/otlpmetrichttp/go.sum
Labels: pkg:SDK, area:metrics

#3135 Add back Prometheus exporter
  .github/dependabot.yml
  exporters/prometheus/doc.go
  exporters/prometheus/exporter.go
  exporters/prometheus/exporter_test.go
  exporters/prometheus/go.mod
  exporters/prometheus/go.sum
  exporters/prometheus/testdata/counter.txt
  exporters/prometheus/testdata/gauge.txt
  exporters/prometheus/testdata/histogram.txt
  exporters/prometheus/testdata/sanitized_labels.txt
Labels: area:metrics, pkg:exporter:prometheus

#3168 Add Prometheus exporter example
  .github/dependabot.yml
  example/prometheus/doc.go
  example/prometheus/go.mod
  example/prometheus/go.sum
  example/prometheus/main.go
Labels: area:metrics, pkg:example, pkg:exporter:prometheus

#3171 Remove abandoned tooling code
  internal/tools/common.go
  internal/tools/go.mod
Labels: pkg:tooling, Skip Changelog

#3167 docs: grammar
  website_docs/getting-started.md
Labels: documentation, Skip Changelog

#3165 bugfix: fix baggage set member failed
  baggage/baggage.go
  baggage/baggage_test.go
Labels: Skip Changelog

#3182 Fix prometheus exporter panic on invalid metric
  exporters/prometheus/exporter.go
  exporters/prometheus/exporter_test.go
Labels: bug, Skip Changelog, pkg:exporter:prometheus

#3193 Fix changelog release v0.32.0 tag link
  CHANGELOG.md
Labels: bug, documentation

#3188 Accessibility add alt to image
  website_docs/_index.md
Labels: Skip Changelog

#3213 Add prometheus exporter benchmark
  exporters/prometheus/benchmark_test.go
Labels: Skip Changelog

#3218 Set MeterProvider resource for all pipelines
  CHANGELOG.md
  sdk/metric/meter_test.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
  sdk/metric/provider.go
Labels: bug, pkg:SDK, area:metrics

#3216 Update sdk/metric go.mod version to latest
  CHANGELOG.md
  exporters/otlp/otlpmetric/go.mod
  exporters/stdout/stdoutmetric/go.mod
  sdk/metric/go.mod
Labels: bug, pkg:SDK, area:metrics

#3177 Add an example of view
  .github/dependabot.yml
  CHANGELOG.md
  example/view/doc.go
  example/view/go.mod
  example/view/go.sum
  example/view/main.go
  versions.yaml
Labels: Skip Changelog

#3220 Flush pending telemetry when ForceFlush or Shutdown are called on a PeriodicReader
  CHANGELOG.md
  exporters/stdout/stdoutmetric/example_test.go
  sdk/metric/periodic_reader.go
  sdk/metric/periodic_reader_test.go
Labels: pkg:SDK, area:metrics

#3233 Refactor Pipeline
  sdk/metric/instrument_provider.go
  sdk/metric/meter.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
  sdk/metric/pipeline_test.go
  sdk/metric/provider.go
Labels: pkg:SDK, area:metrics, Skip Changelog
