Repository open-telemetry/opentelemetry-go, pull requests merged in 2022-05, with the labels that each got.

#2822 Add MeterProvider/meter structure to new SDK
  sdk/metric/config.go
  sdk/metric/go.mod
  sdk/metric/go.sum
  sdk/metric/meter.go
  sdk/metric/provider.go
Labels: pkg:SDK, area:metrics

#2838 Add sdk/metric/view structure
  sdk/metric/view/view.go
Labels: pkg:SDK, area:metrics

#2888 Change @paivagustavo to emeritus status
  CODEOWNERS
  CONTRIBUTING.md
Labels: Skip Changelog

#2896 Create README.md for the ot bridge
  bridge/opentracing/README.md
Labels: documentation, Skip Changelog

#2910 Refactor reader testing into a harness
  sdk/metric/manual_reader_test.go
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics

#2908 Add @dmathieu as an approver
  CODEOWNERS
  CONTRIBUTING.md
Labels: Skip Changelog

#2915 Replace testReaderHarness with testify suite
  sdk/metric/manual_reader_test.go
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics

#2909 Add the periodic reader
  .github/workflows/ci.yml
  sdk/metric/config.go
  sdk/metric/export/data.go
  sdk/metric/exporter.go
  sdk/metric/go.mod
  sdk/metric/go.sum
  sdk/metric/manual_reader.go
  sdk/metric/manual_reader_test.go
  sdk/metric/meter.go
  sdk/metric/periodic_reader.go
  sdk/metric/periodic_reader_test.go
  sdk/metric/provider.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
  sdk/metric/view/view.go
Labels: pkg:SDK, area:metrics

#2914 Test duplicate Reader registration
  sdk/metric/manual_reader.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics

#2905 Add WithReader and WithResource Options
  sdk/metric/config.go
  sdk/metric/config_test.go
  sdk/metric/go.mod
  sdk/metric/go.sum
  sdk/metric/provider.go
  sdk/metric/provider_test.go
Labels: pkg:SDK, area:metrics

#2922 Add bench test for reader collect methods
  sdk/metric/manual_reader_test.go
  sdk/metric/periodic_reader_test.go
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics

#2923 Unify reader implementations
  sdk/metric/go.mod
  sdk/metric/manual_reader.go
  sdk/metric/periodic_reader.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics

#2924 Use ByteSliceToString from golang.org/x/sys/unix
  sdk/resource/export_common_unix_test.go
  sdk/resource/os_unix.go
  sdk/resource/os_unix_test.go
Labels: Skip Changelog
