Repository open-telemetry/opentelemetry-go, pull requests merged in 2022-10, with the labels that each got.

#3250 pass res to exporter
  bridge/opencensus/metric.go
Labels: Skip Changelog

#3253 Remove the unused Resource field from the MeterProvider
  sdk/metric/provider.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#3259 Fix otlpmetric package name in website docs
  website_docs/exporting_data.md
Labels: documentation, Skip Changelog

#3222 Update bucket default bounds
  CHANGELOG.md
  exporters/prometheus/exporter_test.go
  exporters/prometheus/testdata/histogram.txt
  exporters/prometheus/testdata/sanitized_names.txt
  sdk/metric/meter_test.go
  sdk/metric/reader.go
Labels: pkg:SDK, area:metrics

#3237 Use default view if instrument does not match any pipeline view
  CHANGELOG.md
  sdk/metric/config.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_test.go
Labels: bug, pkg:SDK, area:metrics

#3251 Handle duplicate Aggregators and log instrument conflicts
  CHANGELOG.md
  sdk/metric/cache.go
  sdk/metric/cache_test.go
  sdk/metric/instrument.go
  sdk/metric/internal/aggregator.go
  sdk/metric/internal/aggregator_test.go
  sdk/metric/meter.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
  sdk/metric/pipeline_test.go
Labels: bug, pkg:SDK, area:metrics

#3270 Release Metric v0.32.2
  CHANGELOG.md
  bridge/opencensus/go.mod
  bridge/opencensus/test/go.mod
  example/opencensus/go.mod
  example/prometheus/go.mod
  example/view/go.mod
  exporters/otlp/otlpmetric/go.mod
  exporters/otlp/otlpmetric/otlpmetricgrpc/go.mod
  exporters/otlp/otlpmetric/otlpmetrichttp/go.mod
  exporters/prometheus/go.mod
  exporters/stdout/stdoutmetric/go.mod
  sdk/metric/go.mod
  versions.yaml
Labels: area:metrics

#3255 Replace meterRegistry with cache
  sdk/metric/meter.go
  sdk/metric/meter_test.go
  sdk/metric/provider.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#3280 [docs] Add API and Examples to Go sidenav
  website_docs/_index.md
  website_docs/api.md
  website_docs/examples.md
Labels: Skip Changelog

#3347 Fix dependabot PR workflow
  .github/workflows/create-dependabot-pr.yml
  .github/workflows/scripts/dependabot-pr.sh
Labels: Skip Changelog

#3342 Removes the functionality of the Describe in prometheus exporter.
  CHANGELOG.md
  exporters/prometheus/exporter.go
Labels: bug, area:metrics, pkg:exporter:prometheus

#3354 Fix getting-started.md with the correct import packages in main.go
  website_docs/getting-started.md
Labels: documentation, Skip Changelog

#3358 Convert UpDownCounters to Prometheus gauges
  CHANGELOG.md
  exporters/prometheus/exporter.go
  exporters/prometheus/testdata/gauge.txt
  exporters/prometheus/testdata/sanitized_names.txt
Labels: bug, pkg:exporter:prometheus

#3350 Fix Asynchronous Counters Recording
  CHANGELOG.md
  metric/instrument/asyncfloat64/asyncfloat64.go
  metric/instrument/asyncint64/asyncint64.go
  sdk/metric/internal/sum.go
  sdk/metric/internal/sum_test.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
Labels: bug, pkg:SDK, area:metrics

#3352 Add unit suffixes to prometheus metric names
  CHANGELOG.md
  exporters/prometheus/confg_test.go
  exporters/prometheus/config.go
  exporters/prometheus/exporter.go
  exporters/prometheus/exporter_test.go
  exporters/prometheus/testdata/counter.txt
  exporters/prometheus/testdata/gauge.txt
  exporters/prometheus/testdata/histogram.txt
Labels: pkg:exporter:prometheus

#3362 Replace egrep with grep -E in Makefile
  Makefile
Labels: Skip Changelog

#3351 Refactor prometheus exporter to slightly improve performance
  exporters/prometheus/exporter.go
Labels: enhancement, Skip Changelog, pkg:exporter:prometheus

#3369 Fix prometheus name duplicate _total suffix
  CHANGELOG.md
  exporters/prometheus/exporter.go
  exporters/prometheus/exporter_test.go
  exporters/prometheus/testdata/counter.txt
Labels: bug, area:metrics, pkg:exporter:prometheus

#3400 Rename confg_test to config_test in Prometheus exporter package
  exporters/prometheus/config_test.go
Labels: Skip Changelog

#3389 Set IsMonotonic to true for opencensus sum
  CHANGELOG.md
  bridge/opencensus/internal/ocmetric/metric.go
  bridge/opencensus/internal/ocmetric/metric_test.go
Labels: bug, pkg:bridges, area:metrics

#3401 [docs] Support redirect of placeholder-page paths to their targets
  website_docs/api.md
  website_docs/examples.md
Labels: documentation, Skip Changelog

#3386 Clarify nature of Codes values w.r.t. OTLP
  codes/codes.go
Labels: Skip Changelog

#3409 Remove deprecated golangci linters
  .golangci.yml
Labels: pkg:tooling, Skip Changelog

#3387 Associate views with MeterProvider instead of Reader
  CHANGELOG.md
  example/view/main.go
  exporters/prometheus/exporter_test.go
  sdk/metric/config.go
  sdk/metric/config_test.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
  sdk/metric/provider.go
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics
