Repository open-telemetry/opentelemetry-go, pull requests merged in 2022-08, with the labels that each got.

#3045 Add delta/cumulative histogram implementation
  sdk/metric/internal/histogram.go
  sdk/metric/internal/histogram_test.go
Labels: pkg:SDK, area:metrics

#3058 Replace ioutil with io and os
  exporters/jaeger/internal/third_party/thrift/lib/go/thrift/header_transport.go
  exporters/jaeger/internal/third_party/thrift/lib/go/thrift/http_client.go
  exporters/jaeger/uploader.go
  exporters/otlp/otlpmetric/internal/otlpconfig/envconfig.go
  exporters/otlp/otlpmetric/internal/otlpconfig/tls.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/mock_collector_test.go
  exporters/otlp/otlptrace/internal/otlpconfig/envconfig.go
  exporters/otlp/otlptrace/otlptracehttp/client.go
  exporters/otlp/otlptrace/otlptracehttp/mock_collector_test.go
  exporters/zipkin/zipkin.go
  exporters/zipkin/zipkin_test.go
  handler_test.go
  sdk/resource/os_unix_test.go
Labels: Skip Changelog

#3000 Add implementation of Sum aggregators
  sdk/metric/internal/aggregator.go
  sdk/metric/internal/aggregator_example_test.go
  sdk/metric/internal/aggregator_test.go
  sdk/metric/internal/lastvalue.go
  sdk/metric/internal/sum.go
  sdk/metric/internal/sum_test.go
Labels: pkg:SDK, area:metrics

#3040 Adds a filter Aggregator.
  sdk/metric/internal/filter.go
  sdk/metric/internal/filter_test.go
Labels: pkg:SDK, area:metrics

#3057 Add back the stdoutmetric exporter
  .github/dependabot.yml
  exporters/stdout/stdoutmetric/config.go
  exporters/stdout/stdoutmetric/doc.go
  exporters/stdout/stdoutmetric/encoder.go
  exporters/stdout/stdoutmetric/example_test.go
  exporters/stdout/stdoutmetric/exporter.go
  exporters/stdout/stdoutmetric/exporter_test.go
  exporters/stdout/stdoutmetric/go.mod
  exporters/stdout/stdoutmetric/go.sum
  exporters/stdout/stdouttrace/trace_test.go
  sdk/instrumentation/scope.go
  sdk/metric/metricdata/data.go
  sdk/metric/metricdata/temporality.go
  sdk/metric/metricdata/temporality_string.go
Labels: pkg:SDK, area:metrics

#3064 Remove stale TODO from metricdata/data.go
  sdk/metric/metricdata/data.go
Labels: pkg:SDK, area:metrics

#3068 Make several vars into consts
  trace/tracestate.go
Labels: Skip Changelog

#3079 Update compatibility documentation
  README.md
Labels: documentation, Skip Changelog

#3076 Adds the option to ignore timestamps in metric data tests.
  sdk/metric/metricdata/metricdatatest/assertion.go
  sdk/metric/metricdata/metricdatatest/assertion_test.go
  sdk/metric/metricdata/metricdatatest/comparisons.go
Labels: pkg:SDK, area:metrics

#3044 Adds a pipelineRegistry to manage creating aggregators.
  sdk/metric/manual_reader.go
  sdk/metric/periodic_reader.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
Labels: pkg:SDK, area:metrics

#3083 Remove stale TODO
  sdk/metric/view/view.go
Labels: documentation, pkg:SDK, area:metrics

#3065 Add back the otlpmetric transforms
  .github/dependabot.yml
  exporters/otlp/otlpmetric/go.mod
  exporters/otlp/otlpmetric/go.sum
  exporters/otlp/otlpmetric/internal/transform/attribute.go
  exporters/otlp/otlpmetric/internal/transform/attribute_test.go
  exporters/otlp/otlpmetric/internal/transform/doc.go
  exporters/otlp/otlpmetric/internal/transform/error.go
  exporters/otlp/otlpmetric/internal/transform/error_test.go
  exporters/otlp/otlpmetric/internal/transform/metricdata.go
  exporters/otlp/otlpmetric/internal/transform/metricdata_test.go
Labels: pkg:SDK, area:metrics

#3071 Changes instruments uniqueness in pipeline.
  sdk/metric/pipeline.go
  sdk/metric/pipeline_test.go
Labels: pkg:SDK, area:metrics

#3090 Restore the exporters/otlp/otlpmetric/internal/otelconfig package
  exporters/otlp/otlpmetric/go.mod
  exporters/otlp/otlpmetric/go.sum
  exporters/otlp/otlpmetric/internal/oconf/envconfig.go
  exporters/otlp/otlpmetric/internal/oconf/options.go
  exporters/otlp/otlpmetric/internal/oconf/options_test.go
  exporters/otlp/otlpmetric/internal/oconf/optiontypes.go
  exporters/otlp/otlpmetric/internal/oconf/tls.go
Labels: area:metrics, pkg:exporter:otlp

#3099 Add internal OpenCensus metric translation library
  .github/dependabot.yml
  bridge/opencensus/opencensusmetric/doc.go
  bridge/opencensus/opencensusmetric/go.mod
  bridge/opencensus/opencensusmetric/go.sum
  bridge/opencensus/opencensusmetric/internal/metric.go
  bridge/opencensus/opencensusmetric/internal/metric_test.go
Labels: pkg:bridges, area:metrics

#3098 Reintroduce OpenCensus trace bridge
  .github/dependabot.yml
  bridge/opencensus/README.md
  bridge/opencensus/bridge.go
  bridge/opencensus/doc.go
  bridge/opencensus/go.mod
  bridge/opencensus/go.sum
  bridge/opencensus/internal/handler.go
  bridge/opencensus/internal/oc2otel/attributes.go
  bridge/opencensus/internal/oc2otel/attributes_test.go
  bridge/opencensus/internal/oc2otel/span_context.go
  bridge/opencensus/internal/oc2otel/span_context_test.go
  bridge/opencensus/internal/oc2otel/tracer_start_options.go
  bridge/opencensus/internal/oc2otel/tracer_start_options_test.go
  bridge/opencensus/internal/otel2oc/span_context.go
  bridge/opencensus/internal/otel2oc/span_context_test.go
  bridge/opencensus/internal/span.go
  bridge/opencensus/internal/span_test.go
  bridge/opencensus/internal/tracer.go
  bridge/opencensus/internal/tracer_test.go
  bridge/opencensus/test/bridge_test.go
  bridge/opencensus/test/go.mod
  bridge/opencensus/test/go.sum
Labels: pkg:bridges

#3086 Document the sdk/metric/view package
  sdk/metric/config.go
  sdk/metric/view/doc.go
  sdk/metric/view/example_test.go
  sdk/metric/view/view.go
  sdk/metric/view/view_test.go
Labels: documentation, pkg:SDK, area:metrics

#3103 Update file `semconv/template.j2`, replace `required` by `requirementlevel`
  semconv/template.j2
Labels: Skip Changelog

#3105 Update golangci-lint to v1.48.0
  .github/workflows/ci.yml
  attribute/set_test.go
  exporters/jaeger/agent_test.go
  exporters/jaeger/reconnecting_udp_client_test.go
  exporters/otlp/otlptrace/otlptracegrpc/client_test.go
  internal/tools/go.mod
  internal/tools/go.sum
  metric/example_test.go
  metric/internal/global/instruments.go
  sdk/metric/aggregator/lastvalue/lastvalue_test.go
  sdk/metric/controller/basic/controller.go
  sdk/metric/doc.go
  sdk/metric/number/number.go
  sdk/metric/processor/processortest/test.go
  sdk/metric/processor/reducer/doc.go
  sdk/metric/refcount_mapped.go
  sdk/trace/provider.go
  sdk/trace/sampling.go
  sdk/trace/sampling_test.go
  trace.go
  trace/trace.go
Labels: Skip Changelog

#3084 Adds async instruments and providers.
  sdk/metric/instrument.go
  sdk/metric/instrument_provider.go
  sdk/metric/meter.go
  sdk/metric/meter_test.go
  sdk/metric/pipeline.go
  sdk/metric/provider.go
Labels: pkg:SDK, area:metrics

#3089 Add otlpmetric exporter
  exporters/otlp/otlpmetric/client.go
  exporters/otlp/otlpmetric/doc.go
  exporters/otlp/otlpmetric/exporter.go
  exporters/otlp/otlpmetric/exporter_test.go
Labels: area:metrics, pkg:exporter:otlp
