Repository open-telemetry/opentelemetry-go, pull requests merged in 2023-07, with the labels that each got.

#4272 Add otlpmetricgrpc.Expoter and otlpmetrichttp.Exporter
  CHANGELOG.md
  exporters/otlp/otlpmetric/internal/exporter.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/exporter.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/exporter.go
Labels: area:metrics, pkg:exporter:otlp

#4285 Use newPipeline instead of direct construction
  sdk/metric/pipeline.go
  sdk/metric/pipeline_test.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#4283 Move aggregators to internal/aggregate
  sdk/metric/instrument.go
  sdk/metric/instrument_test.go
  sdk/metric/internal/aggregate/aggregator.go
  sdk/metric/internal/aggregate/aggregator_example_test.go
  sdk/metric/internal/aggregate/aggregator_test.go
  sdk/metric/internal/aggregate/doc.go
  sdk/metric/internal/aggregate/filter.go
  sdk/metric/internal/aggregate/filter_test.go
  sdk/metric/internal/aggregate/histogram.go
  sdk/metric/internal/aggregate/histogram_test.go
  sdk/metric/internal/aggregate/lastvalue.go
  sdk/metric/internal/aggregate/lastvalue_test.go
  sdk/metric/internal/aggregate/sum.go
  sdk/metric/internal/aggregate/sum_test.go
  sdk/metric/meter.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#4274 Rewrite Prometheus exporter tests
  exporters/prometheus/exporter_test.go
  exporters/prometheus/testdata/TestIncompatibleMeterName.txt
Labels: Skip Changelog, pkg:exporter:prometheus

#4288 Replace `Stream.AttributeFilter` with `AllowAttributeKeys`
  CHANGELOG.md
  sdk/metric/benchmark_test.go
  sdk/metric/instrument.go
  sdk/metric/meter_test.go
  sdk/metric/pipeline.go
  sdk/metric/view.go
  sdk/metric/view_test.go
Labels: pkg:SDK, Skip Changelog

#4308 Add test for multi-inst view error
  sdk/metric/view_test.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#4307 Log an error for an empty view criteria
  CHANGELOG.md
  sdk/metric/view.go
  sdk/metric/view_test.go
Labels: pkg:SDK, area:metrics

#4306 Add WithoutCounterSuffixes option in the prometheus exporter
  CHANGELOG.md
  exporters/prometheus/config.go
  exporters/prometheus/exporter.go
  exporters/prometheus/exporter_test.go
  exporters/prometheus/testdata/counter_disabled_suffix.txt
Labels: enhancement, pkg:exporter:prometheus

#4304 Replace internal aggregate Aggregator with Measure/ComputeAggregation and a Builder
  sdk/metric/instrument.go
  sdk/metric/instrument_test.go
  sdk/metric/internal/aggregate/aggregate.go
  sdk/metric/internal/aggregate/aggregator.go
  sdk/metric/internal/aggregate/aggregator_example_test.go
  sdk/metric/internal/aggregate/aggregator_test.go
  sdk/metric/internal/aggregate/filter.go
  sdk/metric/internal/aggregate/filter_test.go
  sdk/metric/internal/aggregate/histogram.go
  sdk/metric/internal/aggregate/histogram_test.go
  sdk/metric/internal/aggregate/lastvalue.go
  sdk/metric/internal/aggregate/lastvalue_test.go
  sdk/metric/internal/aggregate/sum.go
  sdk/metric/internal/aggregate/sum_test.go
  sdk/metric/meter.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
  sdk/metric/pipeline_test.go
Labels: Skip Changelog

#4315 Add info/debug logging to the metric SDK
  CHANGELOG.md
  exporters/otlp/otlpmetric/otlpmetricgrpc/exporter.go
  exporters/otlp/otlpmetric/otlpmetrichttp/exporter.go
  exporters/prometheus/exporter.go
  exporters/stdout/stdoutmetric/exporter.go
  sdk/metric/manual_reader.go
  sdk/metric/periodic_reader.go
  sdk/metric/provider.go
Labels: pkg:SDK, area:metrics

#4330 Update the instrument aggregation compatibility table
  sdk/metric/pipeline.go
Labels: documentation, pkg:SDK, area:metrics, Skip Changelog

#4332 Allow histogram for all instruments
  CHANGELOG.md
  sdk/metric/internal/aggregate/aggregate.go
  sdk/metric/internal/aggregate/histogram.go
  sdk/metric/internal/aggregate/histogram_test.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
Labels: pkg:SDK, area:metrics

#4289 Metric SDK: Sum duplicate async observations regardless of filtering
  CHANGELOG.md
  sdk/metric/internal/aggregate/aggregator.go
  sdk/metric/internal/aggregate/filter.go
  sdk/metric/internal/aggregate/filter_test.go
  sdk/metric/internal/aggregate/sum.go
  sdk/metric/internal/aggregate/sum_test.go
  sdk/metric/meter_test.go
Labels: pkg:SDK, area:metrics

#4337 Use inst ID for agg cache key
  CHANGELOG.md
  sdk/metric/instrument.go
  sdk/metric/instrumentkind_string.go
  sdk/metric/meter.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
  sdk/metric/pipeline_test.go
Labels: pkg:SDK, area:metrics

#4338 Detect duplicate instruments for case-insensitive names
  CHANGELOG.md
  sdk/metric/go.mod
  sdk/metric/pipeline.go
  sdk/metric/pipeline_test.go
Labels: pkg:SDK, area:metrics

#4287 Add otlpmetric Temporality Preference env var
  CHANGELOG.md
  exporters/otlp/otlpmetric/internal/oconf/envconfig.go
  exporters/otlp/otlpmetric/internal/oconf/envconfig_test.go
Labels: area:metrics, pkg:exporter:otlp

#4342 Replace filter aggregator with direct filter on measure
  sdk/metric/internal/aggregate/aggregate.go
  sdk/metric/internal/aggregate/aggregate_test.go
  sdk/metric/internal/aggregate/aggregator_test.go
  sdk/metric/internal/aggregate/filter.go
  sdk/metric/internal/aggregate/filter_test.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#4343 Simplify the last-value aggregate
  sdk/metric/internal/aggregate/aggregate.go
  sdk/metric/internal/aggregate/aggregate_test.go
  sdk/metric/internal/aggregate/aggregator_test.go
  sdk/metric/internal/aggregate/lastvalue.go
  sdk/metric/internal/aggregate/lastvalue_test.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#4349 Log a view suggestion for duplicate instrument conflicts
  CHANGELOG.md
  sdk/metric/internal/aggregate/new.txt
  sdk/metric/internal/aggregate/old.txt
  sdk/metric/internal/aggregate/sum_test.go.bkup
  sdk/metric/pipeline.go
  sdk/metric/pipeline_test.go
Labels: pkg:SDK, area:metrics

#4358 Remove benchmark development files mistakenly added in #4349
  sdk/metric/internal/aggregate/new.txt
  sdk/metric/internal/aggregate/old.txt
  sdk/metric/internal/aggregate/sum_test.go.bkup
Labels: Skip Changelog

#4352 sdk/metric: Fix goroutine leaks in tests
  sdk/metric/cache_test.go
  sdk/metric/provider_test.go
Labels: Skip Changelog

#4361 Improve readers Collect docs
  sdk/metric/manual_reader.go
  sdk/metric/manual_reader_test.go
  sdk/metric/periodic_reader.go
  sdk/metric/periodic_reader_test.go
Labels: Skip Changelog

#4367 Remove flaky and redundant TestBatchSpanProcessorForceFlushTimeout
  sdk/trace/batch_span_processor_test.go
Labels: Skip Changelog

#4357 Simplify the sum aggregators
  sdk/metric/internal/aggregate/aggregate.go
  sdk/metric/internal/aggregate/aggregator_test.go
  sdk/metric/internal/aggregate/sum.go
  sdk/metric/internal/aggregate/sum_test.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#4370 Simplify the histogram aggregator
  sdk/metric/internal/aggregate/aggregate.go
  sdk/metric/internal/aggregate/aggregate_test.go
  sdk/metric/internal/aggregate/aggregator.go
  sdk/metric/internal/aggregate/aggregator_test.go
  sdk/metric/internal/aggregate/histogram.go
  sdk/metric/internal/aggregate/histogram_test.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#4381 Document the Reader and Exporter concurrent safe requirements
  CHANGELOG.md
  sdk/metric/exporter.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
Labels: documentation, pkg:SDK, area:metrics
