Repository open-telemetry/opentelemetry-go, pull requests merged in 2023-08, with the labels that each got.

#4395 Do not block Temporality/Aggregation on OTLP metric export
  CHANGELOG.md
  exporters/otlp/otlpmetric/internal/exporter.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/exporter.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/exporter_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/exporter.go
  exporters/otlp/otlpmetric/otlpmetrichttp/exporter_test.go
Labels: pkg:SDK, area:metrics

#4379 sdk/metric: Add unit tests for Shutdown WithTimeout
  sdk/metric/periodic_reader_test.go
Labels: Skip Changelog

#4402 Fix typo in exporters/README.md
  exporters/README.md
Labels: documentation, Skip Changelog

#4401 Decouple `otlp/otlptrace/otlptracehttp` from `otlp/internal` and `otlp/otlptrace/internal` using gotmpl
  CHANGELOG.md
  exporters/otlp/otlptrace/otlptracehttp/client.go
  exporters/otlp/otlptrace/otlptracehttp/client_test.go
  exporters/otlp/otlptrace/otlptracehttp/go.mod
  exporters/otlp/otlptrace/otlptracehttp/internal/envconfig/envconfig.go
  exporters/otlp/otlptrace/otlptracehttp/internal/envconfig/envconfig_test.go
  exporters/otlp/otlptrace/otlptracehttp/internal/gen.go
  exporters/otlp/otlptrace/otlptracehttp/internal/otlpconfig/envconfig.go
  exporters/otlp/otlptrace/otlptracehttp/internal/otlpconfig/options.go
  exporters/otlp/otlptrace/otlptracehttp/internal/otlpconfig/options_test.go
  exporters/otlp/otlptrace/otlptracehttp/internal/otlpconfig/optiontypes.go
  exporters/otlp/otlptrace/otlptracehttp/internal/otlpconfig/tls.go
  exporters/otlp/otlptrace/otlptracehttp/internal/otlptracetest/client.go
  exporters/otlp/otlptrace/otlptracehttp/internal/otlptracetest/collector.go
  exporters/otlp/otlptrace/otlptracehttp/internal/otlptracetest/data.go
  exporters/otlp/otlptrace/otlptracehttp/internal/otlptracetest/otlptest.go
  exporters/otlp/otlptrace/otlptracehttp/internal/partialsuccess.go
  exporters/otlp/otlptrace/otlptracehttp/internal/partialsuccess_test.go
  exporters/otlp/otlptrace/otlptracehttp/internal/retry/retry.go
  exporters/otlp/otlptrace/otlptracehttp/internal/retry/retry_test.go
  exporters/otlp/otlptrace/otlptracehttp/mock_collector_test.go
  exporters/otlp/otlptrace/otlptracehttp/options.go
  internal/shared/otlp/partialsuccess.go.tmpl
  internal/shared/otlp/partialsuccess_test.go.tmpl
Labels: pkg:exporter:otlp

#4400 Decouple `otlp/otlptrace/otlptracegrpc` from `otlp/internal` and `otlp/otlptrace/internal` using gotmpl
  CHANGELOG.md
  exporters/otlp/otlptrace/otlptracegrpc/client.go
  exporters/otlp/otlptrace/otlptracegrpc/client_test.go
  exporters/otlp/otlptrace/otlptracegrpc/go.mod
  exporters/otlp/otlptrace/otlptracegrpc/internal/envconfig/envconfig.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/envconfig/envconfig_test.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/gen.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/otlpconfig/envconfig.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/otlpconfig/options.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/otlpconfig/options_test.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/otlpconfig/optiontypes.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/otlpconfig/tls.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/otlptracetest/client.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/otlptracetest/collector.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/otlptracetest/data.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/otlptracetest/otlptest.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/partialsuccess.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/partialsuccess_test.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/retry/retry.go
  exporters/otlp/otlptrace/otlptracegrpc/internal/retry/retry_test.go
  exporters/otlp/otlptrace/otlptracegrpc/mock_collector_test.go
  exporters/otlp/otlptrace/otlptracegrpc/options.go
Labels: pkg:exporter:otlp

#4404 Decouple `otlp/otlpmetric/otlpmetricgrpc` from `otlp/internal` and `otlp/otlpmetric/internal` using gotmp
  CHANGELOG.md
  exporters/otlp/otlpmetric/otlpmetricgrpc/client.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/client_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/config.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/exporter.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/exporter_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/go.mod
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/envconfig/envconfig.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/envconfig/envconfig_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/gen.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/envconfig.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/envconfig_test.go.tmpl
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/options.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/options_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/optiontypes.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/tls.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/otest/client.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/otest/client_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/otest/collector.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/partialsuccess.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/partialsuccess_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/retry/retry.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/retry/retry_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/transform/attribute.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/transform/attribute_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/transform/error.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/transform/error_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/transform/metricdata.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/transform/metricdata_test.go
  internal/shared/otlp/otlpmetric/oconf/envconfig.go.tmpl
  internal/shared/otlp/otlpmetric/oconf/envconfig_test.go.tmpl
  internal/shared/otlp/otlpmetric/oconf/options.go.tmpl
  internal/shared/otlp/otlpmetric/oconf/options_test.go.tmpl
  internal/shared/otlp/otlpmetric/oconf/optiontypes.go.tmpl
  internal/shared/otlp/otlpmetric/oconf/tls.go.tmpl
  internal/shared/otlp/otlpmetric/otest/client.go.tmpl
  internal/shared/otlp/otlpmetric/otest/client_test.go.tmpl
  internal/shared/otlp/otlpmetric/otest/collector.go.tmpl
  internal/shared/otlp/otlpmetric/transform/attribute.go.tmpl
  internal/shared/otlp/otlpmetric/transform/attribute_test.go.tmpl
  internal/shared/otlp/otlpmetric/transform/error.go.tmpl
  internal/shared/otlp/otlpmetric/transform/error_test.go.tmpl
  internal/shared/otlp/otlpmetric/transform/metricdata.go.tmpl
  internal/shared/otlp/otlpmetric/transform/metricdata_test.go.tmpl
Labels: pkg:exporter:otlp

#4245 Add the Exponential Histogram Aggregator.
  CHANGELOG.md
  sdk/metric/aggregation/aggregation.go
  sdk/metric/aggregation/aggregation_test.go
  sdk/metric/internal/aggregate/aggregate.go
  sdk/metric/internal/aggregate/exponential_histogram.go
  sdk/metric/internal/aggregate/exponential_histogram_test.go
  sdk/metric/pipeline.go
  sdk/metric/pipeline_registry_test.go
Labels: pkg:SDK, area:metrics

#4407 Decouple `otlp/otlpmetric/otlpmetrichttp` from `otlp/internal` and `otlp/otlpmetric/internal` using gotmp
  CHANGELOG.md
  exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/config.go
  exporters/otlp/otlpmetric/otlpmetrichttp/exporter.go
  exporters/otlp/otlpmetric/otlpmetrichttp/exporter_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/go.mod
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/envconfig/envconfig.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/envconfig/envconfig_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/gen.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/envconfig.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/envconfig_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/options.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/options_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/optiontypes.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/tls.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/otest/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/otest/client_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/otest/collector.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/partialsuccess.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/partialsuccess_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/retry/retry.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/retry/retry_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/attribute.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/attribute_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/error.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/error_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/metricdata.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/metricdata_test.go
Labels: pkg:exporter:otlp

#4373 Prometheus exporter: do not append _total if the metric already ends in _total
  CHANGELOG.md
  exporters/prometheus/exporter.go
  exporters/prometheus/exporter_test.go
Labels: pkg:exporter:prometheus

#4409 sdk/resource: Fix data race with emptyAttributes
  CHANGELOG.md
  sdk/resource/resource.go
  sdk/resource/resource_test.go
Labels: bug, area:resources

#4418 metric: Recommend defining units in UCUM
  metric/instrument.go
Labels: Skip Changelog

#4417 Minor refactoring
  exporters/otlp/otlpmetric/internal/exporter_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/exporter_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/exporter_test.go
  sdk/metric/periodic_reader_test.go
Labels: Skip Changelog

#4421 Deprecate the otlp/internal package and all sub-packages
  CHANGELOG.md
  exporters/otlp/internal/config.go
  exporters/otlp/internal/envconfig/doc.go
  exporters/otlp/internal/retry/go.mod
  exporters/otlp/internal/retry/retry.go
  exporters/otlp/otlpmetric/internal/oconf/envconfig.go
  exporters/otlp/otlpmetric/internal/oconf/options.go
  exporters/otlp/otlpmetric/internal/oconf/options_test.go
  exporters/otlp/otlpmetric/internal/otest/client_test.go
  exporters/otlp/otlptrace/exporter.go
Labels: pkg:exporter:otlp

#4427 Document cross-module internal package rule
  CONTRIBUTING.md
Labels: documentation, Skip Changelog

#4429 Remove commented out method in exponential_histogram.go
  sdk/metric/internal/aggregate/exponential_histogram.go
Labels: Skip Changelog

#4375 sdk/metric: Remove Reader.ForceFlush and ManualReader.ForceFlush
  CHANGELOG.md
  sdk/metric/config.go
  sdk/metric/manual_reader.go
  sdk/metric/periodic_reader_test.go
  sdk/metric/provider.go
  sdk/metric/reader.go
  sdk/metric/reader_test.go
Labels: pkg:SDK, area:metrics

#4434 Increase instrument name maximum length from 63 to 255 characters
  CHANGELOG.md
  sdk/metric/meter.go
  sdk/metric/meter_test.go
Labels: pkg:SDK, Skip Changelog

#4431 Add gorelease Make target
  Makefile
  RELEASING.md
  internal/tools/go.mod
  internal/tools/tools.go
Labels: Skip Changelog

#4318 [baggage] Remove unused private field
  baggage/baggage.go
  baggage/baggage_test.go
Labels: Skip Changelog

#4446 Ignore +/- Inf and NaN for exponential histogram measurement
  sdk/metric/internal/aggregate/exponential_histogram.go
  sdk/metric/internal/aggregate/exponential_histogram_test.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#4451 Make `getBin` and `scaleChange` methods of `expoHistogramDataPoint`
  sdk/metric/internal/aggregate/exponential_histogram.go
  sdk/metric/internal/aggregate/exponential_histogram_test.go
Labels: pkg:SDK, area:metrics, Skip Changelog

#4452 Fix guard of measured value to not record empty
  sdk/metric/internal/aggregate/exponential_histogram.go
  sdk/metric/internal/aggregate/exponential_histogram_test.go
Labels: bug, pkg:SDK, area:metrics, Skip Changelog

#4456 Fix the broken sentence
  sdk/metric/reader.go
Labels: documentation, Skip Changelog

#4462 handle err in metric example test
  metric/example_test.go
Labels: Skip Changelog

#4470 Fix `bridge/opencensus` `NewMetricExporter` deprecation notice
  CHANGELOG.md
  bridge/opencensus/metric.go
Labels: bug, documentation, pkg:bridges

#4473 Add WithProducer to the prometheus exporter
  CHANGELOG.md
  exporters/prometheus/config.go
  exporters/prometheus/config_test.go
  exporters/prometheus/exporter.go
Labels: bug, pkg:exporter:prometheus
