Repository open-telemetry/opentelemetry-go, pull requests merged in 2024-04, with the labels that each got.

#5118 Add timeoutExporter
  sdk/log/exporter.go
  sdk/log/exporter_test.go
Labels: area:logs, Skip Changelog

#5120 Fix spelling errors in baggage.go
  baggage/baggage.go
Labels: Skip Changelog

#5117 log: Add String method to Value and KeyValue
  CHANGELOG.md
  log/keyvalue.go
  log/keyvalue_test.go
Labels: pkg:API, area:logs

#5119 Add the `bufferExporter`
  sdk/log/exporter.go
  sdk/log/exporter_test.go
Labels: Skip Changelog

#5131 Add queue for BatchingProcessor
  sdk/log/batch.go
  sdk/log/batch_test.go
Labels: area:logs, Skip Changelog

#5138 Add `otlploghttp` exporter skeleton
  .github/dependabot.yml
  exporters/otlp/otlplog/README.md
  exporters/otlp/otlplog/otlploghttp/README.md
  exporters/otlp/otlplog/otlploghttp/client.go
  exporters/otlp/otlplog/otlploghttp/config.go
  exporters/otlp/otlplog/otlploghttp/doc.go
  exporters/otlp/otlplog/otlploghttp/exporter.go
  exporters/otlp/otlplog/otlploghttp/go.mod
  exporters/otlp/otlplog/otlploghttp/go.sum
  exporters/otlp/otlplog/otlploghttp/version.go
  exporters/otlp/otlplog/otlploghttp/version_test.go
  versions.yaml
Labels: area:logs, Skip Changelog, pkg:exporter:otlp

#5111 Add exemplar support to the prometheus exporter
  CHANGELOG.md
  exporters/prometheus/exporter.go
  exporters/prometheus/exporter_test.go
  exporters/prometheus/go.mod
Labels: enhancement, pkg:exporter:prometheus

#5150 Add otlploghttp package documentation
  exporters/otlp/otlplog/otlploghttp/doc.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/doc.go
  exporters/otlp/otlpmetric/otlpmetrichttp/doc.go
  exporters/otlp/otlptrace/otlptracegrpc/doc.go
  exporters/otlp/otlptrace/otlptracehttp/doc.go
Labels: documentation, area:logs, Skip Changelog, pkg:exporter:otlp

#5157 Clamp the `BatchingProcessor` batch size to be less than or equal to queue size
  sdk/log/batch.go
  sdk/log/batch_test.go
  sdk/log/setting.go
Labels: pkg:SDK, area:logs, Skip Changelog

#5158 Add config and doc for stdoutlog exporter
  .github/dependabot.yml
  exporters/stdout/stdoutlog/README.md
  exporters/stdout/stdoutlog/config.go
  exporters/stdout/stdoutlog/config_test.go
  exporters/stdout/stdoutlog/doc.go
  exporters/stdout/stdoutlog/go.mod
  exporters/stdout/stdoutlog/go.sum
  versions.yaml
Labels: Skip Changelog

#5164 Implement `otelloghttp.Exporter` `ForceFlush`
  exporters/otlp/otlplog/otlploghttp/exporter.go
  exporters/otlp/otlplog/otlploghttp/exporter_test.go
Labels: area:logs, Skip Changelog, pkg:exporter:otlp

#5165 Generate `internal/retry` in `otlploghttp`
  exporters/otlp/otlplog/otlploghttp/config.go
  exporters/otlp/otlplog/otlploghttp/go.mod
  exporters/otlp/otlplog/otlploghttp/go.sum
  exporters/otlp/otlplog/otlploghttp/internal/gen.go
  exporters/otlp/otlplog/otlploghttp/internal/retry/retry.go
  exporters/otlp/otlplog/otlploghttp/internal/retry/retry_test.go
Labels: area:logs, Skip Changelog, pkg:exporter:otlp

#5166 trace_context: fix grammar in doc string
  propagation/trace_context.go
Labels: Skip Changelog

#5181 sdk/log: Exporter has to be concurrent-safe
  sdk/log/exporter.go
  sdk/log/simple.go
Labels: Skip Changelog

#5134 logtest: Add Recorder
  CHANGELOG.md
  log/logtest/README.md
  log/logtest/recorder.go
  log/logtest/recorder_test.go
Labels: area:logs

#5177 Bump proto-go to v1.2.0
  CHANGELOG.md
  example/otel-collector/go.mod
  example/otel-collector/go.sum
  exporters/otlp/otlpmetric/otlpmetricgrpc/go.mod
  exporters/otlp/otlpmetric/otlpmetricgrpc/go.sum
  exporters/otlp/otlpmetric/otlpmetrichttp/go.mod
  exporters/otlp/otlpmetric/otlpmetrichttp/go.sum
  exporters/otlp/otlptrace/go.mod
  exporters/otlp/otlptrace/go.sum
  exporters/otlp/otlptrace/otlptracegrpc/go.mod
  exporters/otlp/otlptrace/otlptracegrpc/go.sum
  exporters/otlp/otlptrace/otlptracehttp/go.mod
  exporters/otlp/otlptrace/otlptracehttp/go.sum
Labels: pkg:exporter:otlp

#5183 Add concurrency test for Exporter to otlploghttp
  exporters/otlp/otlplog/otlploghttp/exporter_test.go
Labels: area:logs, Skip Changelog, pkg:exporter:otlp

#5182 Implement the Export method of the `otlploghttp` `Exporter`
  exporters/otlp/otlplog/otlploghttp/exporter.go
  exporters/otlp/otlplog/otlploghttp/exporter_test.go
  exporters/otlp/otlplog/otlploghttp/internal/transform/log.go
Labels: area:logs, Skip Changelog, pkg:exporter:otlp

#5185 sdk/log: Add options to NewSimpleProcessor
  sdk/log/batch.go
  sdk/log/batch_test.go
  sdk/log/simple.go
Labels: pkg:SDK, area:logs, Skip Changelog

#5160 Add caching to lychee links checker
  .github/workflows/links-fail-fast.yml
  .github/workflows/links.yml
Labels: Skip Changelog

#5172 stdoutlog: Add exporter
  exporters/stdout/stdoutlog/config.go
  exporters/stdout/stdoutlog/exporter.go
  exporters/stdout/stdoutlog/exporter_test.go
  exporters/stdout/stdoutlog/go.mod
  exporters/stdout/stdoutlog/go.sum
  exporters/stdout/stdoutlog/record.go
Labels: Skip Changelog

#5167 Add base implementation of otlploghttp configuration
  exporters/otlp/otlplog/otlploghttp/config.go
  exporters/otlp/otlplog/otlploghttp/config_test.go
  exporters/otlp/otlplog/otlploghttp/go.mod
Labels: area:logs, Skip Changelog, pkg:exporter:otlp

#5191 Add otlploghttp transform package
  exporters/otlp/otlplog/otlploghttp/client.go
  exporters/otlp/otlplog/otlploghttp/exporter.go
  exporters/otlp/otlplog/otlploghttp/exporter_test.go
  exporters/otlp/otlplog/otlploghttp/go.mod
  exporters/otlp/otlplog/otlploghttp/internal/transform/attr_test.go
  exporters/otlp/otlplog/otlploghttp/internal/transform/log.go
  exporters/otlp/otlplog/otlploghttp/internal/transform/log_attr_test.go
  exporters/otlp/otlplog/otlploghttp/internal/transform/log_test.go
Labels: area:logs, Skip Changelog, pkg:exporter:otlp

#5190 Replace `Record` limit methods with `DroppedAttributes`
  CHANGELOG.md
  exporters/stdout/stdoutlog/record.go
  sdk/log/logger_norace_test.go
  sdk/log/logger_test.go
  sdk/log/record.go
  sdk/log/record_test.go
Labels: pkg:SDK, area:logs

#5216 otlploghttp: Use go.opentelemetry.io/proto/slim/otlp
  exporters/otlp/otlplog/otlploghttp/client.go
  exporters/otlp/otlplog/otlploghttp/exporter_test.go
  exporters/otlp/otlplog/otlploghttp/go.mod
  exporters/otlp/otlplog/otlploghttp/go.sum
  exporters/otlp/otlplog/otlploghttp/internal/transform/attr_test.go
  exporters/otlp/otlplog/otlploghttp/internal/transform/log.go
  exporters/otlp/otlplog/otlploghttp/internal/transform/log_attr_test.go
  exporters/otlp/otlplog/otlploghttp/internal/transform/log_test.go
Labels: Skip Changelog

#5231 typo: fix docs typo
  baggage/baggage.go
Labels: Skip Changelog

#5229 sdk/log: Rename BatchingProcessor to BatchProcessor
  sdk/log/DESIGN.md
  sdk/log/batch.go
  sdk/log/batch_test.go
  sdk/log/provider.go
  sdk/log/simple.go
Labels: pkg:SDK, area:logs, Skip Changelog

#5223 Add environment variable support to otlploghttp
  exporters/otlp/otlplog/otlploghttp/config.go
  exporters/otlp/otlplog/otlploghttp/config_test.go
Labels: area:logs, Skip Changelog, pkg:exporter:otlp

#5236 Rename batching configuration
  sdk/log/batch.go
  sdk/log/batch_test.go
Labels: pkg:SDK, area:logs, Skip Changelog

#5224 Add the otlploghttp HTTP client
  exporters/otlp/otlplog/otlploghttp/client.go
  exporters/otlp/otlplog/otlploghttp/client_test.go
  exporters/otlp/otlplog/otlploghttp/config.go
  exporters/otlp/otlplog/otlploghttp/config_test.go
  exporters/otlp/otlplog/otlploghttp/go.mod
Labels: area:logs, Skip Changelog, pkg:exporter:otlp

#5235 Add example test to otlploghttp
  exporters/otlp/otlplog/otlploghttp/example_test.go
Labels: area:logs, Skip Changelog, pkg:exporter:otlp

#5240 Add `sdk/log`, `stdoutlog`, and `otlploghttp` to next release
  CHANGELOG.md
  versions.yaml
Labels: pkg:SDK, area:logs, pkg:exporter:otlp, pkg:exporter:stdout

#5222 otlpmetrichttp: Use go.opentelemetry.io/proto/slim/otlp
  CHANGELOG.md
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/gen.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/envconfig.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/envconfig_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/options.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/oconf/options_test.go
  exporters/otlp/otlpmetric/otlpmetricgrpc/internal/otest/collector.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/client_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/exporter.go
  exporters/otlp/otlpmetric/otlpmetrichttp/go.mod
  exporters/otlp/otlpmetric/otlpmetrichttp/go.sum
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/gen.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/envconfig.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/envconfig_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/options.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/oconf/options_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/otest/client.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/otest/client_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/otest/collector.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/attribute.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/attribute_test.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/error.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/metricdata.go
  exporters/otlp/otlpmetric/otlpmetrichttp/internal/transform/metricdata_test.go
  internal/shared/otlp/otlpmetric/oconf/envconfig.go.tmpl
  internal/shared/otlp/otlpmetric/oconf/envconfig_test.go.tmpl
  internal/shared/otlp/otlpmetric/oconf/options.go.tmpl
  internal/shared/otlp/otlpmetric/oconf/options_test.go.tmpl
  internal/shared/otlp/otlpmetric/otest/client.go.tmpl
  internal/shared/otlp/otlpmetric/otest/client_test.go.tmpl
  internal/shared/otlp/otlpmetric/otest/collector.go.tmpl
  internal/shared/otlp/otlpmetric/transform/attribute.go.tmpl
  internal/shared/otlp/otlpmetric/transform/attribute_test.go.tmpl
  internal/shared/otlp/otlpmetric/transform/error.go.tmpl
  internal/shared/otlp/otlpmetric/transform/metricdata.go.tmpl
  internal/shared/otlp/otlpmetric/transform/metricdata_test.go.tmpl
Labels: enhancement, area:metrics, pkg:exporter:otlp

#5213 Implement resource serialization for stdoutlog
  exporters/stdout/stdoutlog/exporter_test.go
  exporters/stdout/stdoutlog/record.go
Labels: Skip Changelog

#5239 Default implementation for empty BatchProcessor
  sdk/log/batch.go
  sdk/log/batch_test.go
Labels: pkg:SDK, area:logs, Skip Changelog

#5256 Remove left-over TODO in otlploghttp
  exporters/otlp/otlplog/otlploghttp/exporter.go
Labels: documentation, Skip Changelog

#5259 sdk/log: Fix doc for LoggerProvider.ForceFlush and LoggerProvider.Shutdown
  sdk/log/provider.go
Labels: documentation, pkg:SDK, area:logs, Skip Changelog

#5237 Add custom ring implementation to the BatchProcessor
  sdk/log/batch.go
  sdk/log/batch_test.go
  sdk/log/ring.go
  sdk/log/ring_test.go
Labels: pkg:SDK, area:logs, Skip Changelog

#5261 Fix flaky test TestBufferExporter/Shutdown/ContextCancelled
  sdk/log/exporter_test.go
Labels: Skip Changelog

#5246 Add `otlploggrpc` exporter skeleton
  .github/dependabot.yml
  exporters/otlp/otlplog/otlploggrpc/README.md
  exporters/otlp/otlplog/otlploggrpc/client.go
  exporters/otlp/otlplog/otlploggrpc/config.go
  exporters/otlp/otlplog/otlploggrpc/doc.go
  exporters/otlp/otlplog/otlploggrpc/exporter.go
  exporters/otlp/otlplog/otlploggrpc/go.mod
  exporters/otlp/otlplog/otlploggrpc/go.sum
  exporters/otlp/otlplog/otlploggrpc/version.go
  exporters/otlp/otlplog/otlploggrpc/version_test.go
  versions.yaml
Labels: Skip Changelog

#5262 chore: fix function names in comment
  exporters/otlp/otlplog/otlploghttp/config.go
  sdk/metric/reader.go
Labels: Skip Changelog

#5270 docs: update variable name in documentation
  sdk/internal/env/env.go
Labels: documentation, Skip Changelog

#5264 Use empty resource when `RecordFactory.Resource` is `nil`
  sdk/log/logtest/factory.go
Labels: pkg:testing, pkg:SDK, area:logs, Skip Changelog

#5230 Truncate and de-duplicate log attribute values
  exporters/otlp/otlplog/otlploghttp/internal/transform/log_test.go
  sdk/log/record.go
  sdk/log/record_test.go
Labels: pkg:SDK, area:logs, Skip Changelog

#5277 Add changelog entry for #5230
  CHANGELOG.md
Labels: documentation

#5274 docs: Add otlploghttp package in exporters README.md
  exporters/README.md
Labels: documentation, area:logs, Skip Changelog
